<h1>Create workout: </h1>

<form action="/workouts/new>" method="POST">
  <label> Exercise:</label> <input type="text" name="exercise">
  <label> Sets: </label><input type="integer" name="sets">
  <label> Reps: </label><input type="integer" name="reps">
  <label> Weight: </label><input type="integer" name="weight">
  <input type="submit" value="Create">
</form>
