<h1>Create workout</h1>

<form action="/workouts>" method="POST">
  <label> Workout title: </label> <input type="text" name= "title">
  <br>
  <br>
  <label> Exercise:</label> <input type="text" name="title">
  <label> Sets: </label><input type="integer" name="sets">
  <label> Reps: </label><input type="integer" name="reps">
  <label> Weight: </label><input type="integer" name="weight">
  <input type="submit" value="Create">
</form>
