<h1>Signup</h1>

<%= "Must include email and password" if @user && @user.errors.any? %>

<form action="/users" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>

<input type="submit">

</form>
